.caixaCadastro {
    float:center;
    text-align: center;
    margin-top: 20px;
}

.titulos {
    margin-top: 20px;
    margin-bottom: 20px;
}

.barra {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(175, 175, 175, 1);
}