.footercor{
    background-color: #041F3E;
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
}
