.fundo{
    background-color: $cor_principal;
}

.img_fluid {
    width: 100%; 
    height: auto;
}

.text_color {
    color: $cor_inovacao;
}

.logo_entraluno{
    width: 150px;
    height: 150px;
}

.text_align_left{
    text-align: left;
}

.container_index{
    max-width: 800px;
    border-width: 1px;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: auto;
}

.font_size_index {
    font-size: 80px;
}