.fundo{
<<<<<<< HEAD
    background-color: $cor_principal;
}
=======
    
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 49%, rgba(35,76,123,1) 81%);
        width: 200px;
}

>>>>>>> 53d573bb319ff7f53fb20ecaca49e066f77e2f30
