.bg-menu{
    background-color: $cor_botao_01;
}

.nav-link{
    font-size:15px;
    color: white;
    &:hover{
    color: rgb(208, 208, 208);
}
}
.container{
    padding-inline: 390px;
}

.logoMenu {
    float:left;
    width: 70px;
    margin-left: 20px;
}


    

