$cor_principal: rgba(35, 76, 123, 1); // cor principal do site utilizada do header
$cor_barra: rgba(175, 175, 175, 1); // cor da barra na área de cadastro dos usuários
$cor_botao_01: #041F3E; // cor padrão dos botões
$cor_botao_02: #03152a; // cor padrão dos botões quando o mouse está em cima